extends ./layout/layout

block title
  title Leadership Event
block pageContent
  .banner#banner
    .container
      .content.d-flex.flex-column.align-items-center.text-center
        .video-wrapper
          video(autoplay loop muted)
            source(src="videos/landing.mp4", type="video/mp4")
            p Please Use Modern Browser

        h1.heading.mb-4 #[span LEADERSHIP] #[br] CONFERENCE 2022

        .date-location.d-flex.text-white.mb-5
          .date.py-2.px-4 July 12  to 18, 2022
          .location.py-2.px-4 Times Square, NY

        a.go-down.d-flex.justify-content-center.align-items-center.mb-5.bg-white(href="#about"): i.bi.bi-arrow-down

        .highlights.row.row-cols-1.row-cols-md-2.row-cols-lg-3.gy-4


          .col
            .highlight
              .h-overlay
              img(src="./imgs/highlight/alexandre-pellaes-6vAjp0pscX0-unsplash.jpg")
              h4.title 2020 Highlights
              a.youtube(href="https://www.youtube.com"): i.bi.bi-youtube
          .col
            .highlight
              .h-overlay
              img(src="./imgs/highlight/jakob-dalbjorn-cuKJre3nyYc-unsplash.jpg")
              h4.title 2021 Highlights
              a.youtube(href="https://www.youtube.com"): i.bi.bi-youtube
          .col
            .highlight
              .h-overlay
              img(src="./imgs/highlight/miguel-henriques--8atMWER8bI-unsplash.jpg")
              h4.title 2022 Highlights
              a.youtube(href="https://www.youtube.com"): i.bi.bi-youtube
  .about#about
    .container
      .content.row.gy-5.gy-lg-0
        .col.col-12.mb-3
          h3.main-heading Our #[span Story]
        .col.col-12.col-lg-6
          .story
            h4.title.mb-3 The importance of Leadership Conference in 2022
            p.info.mb-4
              | Leadership Event is one-page Bootstrap v5.1.3 CSS layout for your website. Thank you for choosing TemplateMo website where you can instantly download free CSS templates at no cost.
            .btns.d-flex 
              button.btn-1.main-btn.me-3 Meet Speakers
              button.btn-2.main-btn Check Out Shedules
        .col.col-12.col-lg-6
          .monials
            h4.title.pb-5.border-bottom
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut dolore

            .peaple.py-3.d-flex.align-items-center.justify-content-center.flex-wrap
              .imgs.d-inline-flex.me-4
                img(src="./imgs/avatar/happy-asian-man-standing-with-arms-crossed-grey-wall.jpg")
                img(src="./imgs/avatar/indoor-shot-beautiful-happy-african-american-woman-smiling-cheerfully-keeping-her-arms-folded-relaxing-indoors-after-morning-lectures-university.jpg")
                img(src="./imgs/avatar/portrait-good-looking-brunette-young-asian-woman.jpg")
                img(src="./imgs/avatar/senior-man-white-sweater-eyeglasses.jpg")  
              | 120+ People are attending with us
  .shedules#shedules
    .container
      h4.main-heading.text-center.mb-5.mb-1 Next #[span Shedules]
      .days.row.g-0.mb-4
        - let days = [ {day: "one", date: "12"}, {day: "two", date: "14"}, {day: "three", date: "16"}, {day: "four", date: "18"}]
        each day in days
          .col.col-12.col-sm-6.col-lg-3
            - let active = day.day === 'one' ? "active" : null
            .day.py-4.ps-4&attributes({
              "data-day": "." + day.day,
              class: active
            })
              h5.title.mb-0 Day #{day.day}
              .date July #{day.date}, 2022

      .events
        - 
          let events = [
            { 
              day: "one",
              title: "Startup Development Ideas",
              img: "./imgs/schedule/business-woman-making-presentation-office.jpg",
              discription: "You are free to download any HTML CSS template from TemplateMo website. You can use any template for business purposes. You are not allowed to redistribute the downloadable ZIP file on any other template website. Thank you",
              avatar: "./imgs/avatar/happy-asian-man-standing-with-arms-crossed-grey-wall.jpg",
              name: "Logan Wilson",
              jop: "CEO / FOUNDER",
              time: "9:00 - 9:45 AM",
              location: "Conference Hall 3"
            },
            { 
              day: "one",
              title: "Introduction to Online Businesses",
              img: "./imgs/schedule/clayton-cardinalli-JMoFpdqL3XM-unsplash.jpg",
              discription: "Quisque mollis, ante non semper ultricies, nulla sapien sollicitudin augue, id scelerisque nunc turpis nec urna. Class aptent taciti sociosqu ad litora.",
              avatar: "./imgs/avatar/indoor-shot-beautiful-happy-african-american-woman-smiling-cheerfully-keeping-her-arms-folded-relaxing-indoors-after-morning-lectures-university.jpg",
              name: "Natalie",
              jop: "EVENT PLANNER",
              time: "10:00 - 10:45 AM",
              location: "100-D Room"
            },
            { 
              day: "one",
              title: "Bootstrapping Startup",
              img: "./imgs/schedule/fabian-friedrich-JDUVM9_VaZE-unsplash.jpg",
              discription: "Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Ut consequat purus posuere tortor efficitur, sit amet dignissim libero aliquam",
              avatar: "./imgs/avatar/portrait-good-looking-brunette-young-asian-woman.jpg",
              name: "Thomas",
              jop: "STARTUP COACH",
              time: " 11:00 - 11:45 AM",
              location: "100-B Room"
            },
            { 
              day: "two",
              title: "Building a famous company",
              img: "./imgs/schedule/jason-goodman-bzqU01v-G54-unsplash.jpg",
              discription: "Quisque mollis, ante non semper ultricies, nulla sapien sollicitudin augue, id scelerisque nunc turpis nec urna. Class aptent taciti sociosqu ad litora torquent per conubia.",
              avatar: "./imgs/avatar/pretty-smiling-joyfully-female-with-fair-hair-dressed-casually-looking-with-satisfaction.jpg",
              name: "Isabella",
              jop: "Event Manager",
              time: "9:00 - 9:45 AM",
              location: "Conference Hall 2"
            },
            { 
              day: "two",
              title: "Dev Ops life in corporate",
              img: "./imgs/schedule/jeshoots-com-TWRCH-GaKr4-unsplash.jpg",
              discription: "Quisque mollis, ante non semper ultricies, nulla sapien sollicitudin augue, id scelerisque nunc turpis nec urna. Class aptent taciti sociosqu ad litora torquent per conubia.",
              avatar: "./imgs/avatar/portrait-good-looking-brunette-young-asian-woman.jpg",
              name: "Samantha",
              jop: "TOP LEVEL SPEAKERr",
              time: "9:00 - 9:45 AM",
              location: "100-A Room"
            },
            { 
              day: "three",
              title: "Maintaining a successful business",
              img: "./imgs/schedule/people-smiling-while-conference-room.jpg",
              discription: "Quisque mollis, ante non semper ultricies, nulla sapien sollicitudin augue, id scelerisque nunc turpis nec urna. Class aptent taciti sociosqu.",
              avatar: "./imgs/avatar/happy-asian-man-standing-with-arms-crossed-grey-wall.jpg",
              name: "Isabella",
              jop: "EVENT MANAGER",
              time: "9:00 - 9:45 AM",
              location: "100-A Room"
            },
            { 
              day: "three",
              title: "Working Life in Corporate Environment",
              img: "./imgs/schedule/jeshoots-com-TWRCH-GaKr4-unsplash.jpg",
              discription: "Quisque mollis, ante non semper ultricies, nulla sapien sollicitudin augue, id scelerisque nunc turpis nec urna. Class aptent taciti sociosqu.",
              avatar: "./imgs/avatar/senior-man-white-sweater-eyeglasses.jpg",
              name: "Samantha",
              jop: "TOP LEVEL SPEAKER",
              time: "9:00 - 9:45 AM",
              location: "100-A Room"
            },
            { 
              day: "four",
              title: "Working Life in Corporate Environment",
              img: "./imgs/schedule/jeshoots-com-TWRCH-GaKr4-unsplash.jpg",
              discription: "Quisque mollis, ante non semper ultricies, nulla sapien sollicitudin augue, id scelerisque nunc turpis nec urna. Class aptent taciti sociosqu.",
              avatar: "./imgs/avatar/senior-man-white-sweater-eyeglasses.jpg",
              name: "Samantha",
              jop: "TOP LEVEL SPEAKER",
              time: "9:00 - 9:45 AM",
              location: "100-A Room"
            },
          ]

        each event in events
          .event.py-5.border-bottom&attributes({class: event.day})
            .row.align-items-start
              .col.col-12.col-lg-4.mb-3.mb-lg-0
                .image: img&attributes({src: event.img})
              .col
                .content
                  h3.title #{event.title}
                  p.discription.mb-3 #{event.discription}
                  .info.row.row-cols-auto.justify-content-md-between.align-items-center.flex-wrap.flex-md-nowrap.gx-4.gx-md-3.gy-3.gy-md-0
                    .col 
                      .speaker.d-flex.align-items-start
                        |
                        |
                        img.me-3&attributes({src: event.avatar})
                        .name-jop
                          .name #{event.name}
                          .jop #{event.jop}
                    .col 
                      .time #[i.bi.bi-clock.me-2]  #{event.time}
                    .col 
                      .location #[i.bi-layout-sidebar.me-2] #{event.location}
  .rigister
    .overlay
    .container
      .content.row.align-items-center
        .col.col-12.col-lg-7.mb-4.mb-lg-0
          h3.main-heading.mb-4 Become an #[span event speaker?]
          p.text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut dolore
        .col.d-none.d-lg-block.col-2
        .col
          a.rigister-btn.main-btn(href="#") Rigister Today
  .pricing#pricing
    .container
      h4.main-heading.text-center.mb-5 Get Your #[span Tickets]
      .content.row.row-cols-1.row-cols-md-2.row-cols-lg-3.gy-5
        .col
          .plan.custom-card.pb-3
            .head.d-flex.justify-content-between.align-items-center.px-4.py-4
              h5.title.m-0 Early bird
              h6.price.m-0 $640
            .body.px-4.pt-4.mb-2
              .feat.mb-3 #[i.bi.bi-cup.me-3]
                | All-Day Coffee + Snacks
              .feat.mb-3 #[i.bi.bi-controller.me-3]
                | After Party
              .feat #[i.bi.bi-chat-square.me-3]
                | 24/7 Support
              .border-bottom.pt-4
            .foot.pt-2.px-4.py-3
              p.mb-4 Quick group meetings for multiple teams
              button.buy.main-btn Buy Tickets
        .col
          .plan.custom-card.pb-3
            .head.d-flex.justify-content-between.align-items-center.px-4.py-4
              h5.title.m-0 Gold
              h6.price.m-0 $840
            .body.px-4.pt-4.mb-2
              .feat.mb-3 #[i.bi.bi-cup.me-3]
                | All-Day Coffee + Snacks
              .feat.mb-3 #[i.bi.bi-boombox.me-3]
                | Group Meetings + After Party
              .feat #[i.bi.bi-chat-square.me-3]
                | 24/7 Support + Instant Chats
              .border-bottom.pt-4
            .foot.pt-2.px-4.py-3
              p.mb-4 Quick group meetings for multiple teams
              button.buy.main-btn Buy Tickets
        .col
          .plan.custom-card.pb-3
            .head.d-flex.justify-content-between.align-items-center.px-4.py-4
              h5.title.m-0 Platinum
              h6.price.m-0 $1,240
            .body.px-4.pt-4.mb-2
              .feat.mb-3 #[i.bi.bi-cash.me-3]
                | Cashback $200
              .feat.mb-3 #[i.bi.bi-boombox.me-3]
                | Private Meetings + After Party
              .feat #[i.bi.bi-chat-square.me-3]
                | 24/7 Support + Instant Chats
              .border-bottom.pt-4
            .foot.pt-2.px-4.py-3
              p.mb-4 group talks and private chats for multiple teams
              button.buy.main-btn Buy Tickets
  .venue#venue
    .container
      .main-heading.mb-5 Here you go #[span Venue]
      .content.row
        .col.col-12.col-lg-6.mb-4.mb-lg-0
          .map
            iframe(class="google-map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1511.091461689997!2d-73.9866630916883!3d40.758001294831736!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c25855a96da09d%3A0x860bf5a5e1a00a68!2sTimes%20Square%2C%20New%20York%2C%20NY%2010036%2C%20USA!5e0!3m2!1sen!2ssg!4v1643035529098!5m2!1sen!2ssg",
              width="100%", height="371.59", allowfullscreen="", loading="lazy")
        .col.col-12.col-lg-6
          .info.custom-card
            .head.px-3.px-sm-5.py-4
              h2.title.m-0 Times Square
            .body.px-3.px-sm-5.py-4
              .location.d-flex
                i.bi.bi-geo-alt.me-3
                h3.mb-3 102 South. 7th Street, New York, NY 10036, USA
              a(href="#").contact-info.d-block.mb-3 #[i.bi.bi-envelope.me-3]
                | hi@company.com
              a(href="#").contact-info.d-block #[i.bi.bi-telephone.me-3]
                | 010-020-0340
  .contact#contact
    .container.d-flex.justify-content-center
      .form.custom-card.bg-white
        .head.px-5.py-4
          h2.title.m-0 Please Say Hi
        .body.px-5.py-5
          form
            .row.gy-4
              .col.col-12.col-md-6.col-lg-4
                input(type="text", placeholder="name", name="name", required).input.form-control.py-2
              .col.col-12.col-md-6.col-lg-4
                input(type="email", placeholder="Email", name="mail", reuired).input.form-control.py-2
              .col.col-12.col-md-6.col-lg-4
                input(type="text", placeholder="Subject", name="subject").input.form-control.py-2
              .col.col-12
                textarea(type="text", placeholder="Message", name="message").input.form-control.py-2
              .col.col-12
                input(type="submit").main-btn.form-control
  footer
    .container
      .footer-menu.d-flex.align-items-center.justify-content-between.flex-column.flex-sm-row.pb-5.border-bottom
        +logo
        ul.nav
          - let brands = ["facebook" ,"instagram" ,"twitter" ,"whatsapp"];
          each brand in brands
            li.nav-item.p-2
              a.d-flex.justify-content-center.align-items-center(href="#")
                i.bi&attributes({class: `bi-${brand}`})
      .footer-links.d-flex.align-items-center.flex-column.flex-md-row.pt-5.text-center.text-md-startr
        ul.sub-nav.nav.justify-content-center.me-md-auto.mb-3.mb-md-0
          - let subNavLinks = ["Our Story" ,"Code of Conduct" ,"Privacy and Terms" ,"Contact"];
          each link in subNavLinks
            li.nav-item
              a.d-block.p-2(href="#") #{link}
        .copyright.me-md-4.mb-3.mb-md-0
          p.text.mb-3 Copyright © 2022 Leadership Event Co., Ltd. #[br] All Rights Reserved.
          .design Design: #[a(href="https://github.com/abdoshbr3322/" ,target="_blank") Abdullah]
        .scroll-top
          button.d-block.d-flex.justify-content-center.align-items-center.m-0: i.bi.bi-arrow-up
